// :export {
//     // font-size-lg: $font-size-lg;
//     // other variables
//     primary: red;
//   }
  
$primary: red;
$secondary: red;
:root{
    --bs-primary: red
}
// $theme-colors: (
//   primary: orange
// ) !default;
// @import '~bootstrap/scss/bootstrap';
// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";


// @import "../node_modules/bootstrap/scss/_variables.scss";
// @import "../node_modules/bootstrap/scss/_functions.scss";
// @import "../node_modules/bootstrap/scss/bootstrap";

// @import "../node_modules/bootstrap/scss/_mixins.scss";

