:root {
  /* MY GLOBAL CSS */
  --blue-dark: #001243;
  --purple-normal: #6A6FD2;
  --gray-normal: #E2E2E2;
  --gray-dark: #444444;
  --red-normal: #C20707;
  --yellow-normal: #D6C000;
}

/* html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-padding-top: 100px;
} */

/* * {
  border: 1px solid red;
} */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  /* border: 1px solid red; */
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-padding-top: 100px;
}

.navbar-zg {
  width: 100vw !important;
  padding: 0px !important;
  margin: 0px !important;
}

/* ---------------------------- */
/* ALL */
/* ---------------------------- */
a:link,
a.active,
a:hover {
  text-decoration: none !important;
  color: white;
}

a.active:hover {
  color: var(--blue-dark);
}

.text-zg-blue {
  color: var(--blue-dark);
}

.fs-lg {
  font-size: 24px;
}

.font-sm-gray {
  font-size: .6rem;
  color: var(--gray-dark);
}

.fs-our-company {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 8px;
  text-shadow: 0.1em 0.1em #555AAC
}

.text-section {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

.text-section-services {
  font-size: 16px;
}

.font-sm {
  font-size: .8rem;
}

/* ---------------------------- */
/* BACKGROUND */
/* ---------------------------- */
.bg-zg-blue {
  background: var(--blue-dark);
  color: white;
}

.bg-zg-pink {
  background: var(--purple-normal);
}

.bg-zg-gray {
  background: var(--gray-normal);
}

/* ---------------------------- */
/* NAVBAR */
/* ---------------------------- */
.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
}

.btn-zg-open-nav {
  color: white !important;
  border: 2px solid white !important;
  padding: 10px 16px !important;
}

.btn-zg-open-nav:hover {
  background: white;
  color: var(--blue-dark) !important;
}

.btn-zg-open-nav:active {
  background: white;
  color: var(--blue-dark) !important;
}

.btn-zg-nav {
  background: var(--blue-dark);
  color: white;
  border-radius: 4px;
}

.btn-zg-nav a {
  color: white;
}

/* .btn-zg-nav-active {
  color: white;
} */

.btn-zg-nav:hover {
  background: white;
}

.icons-md {
  width: 100px;
  height: 80px;
}

/* SECTION */
/* ---------------------------- */
/* SECTION HOME*/
/* ---------------------------- */
#Home {
  padding: 5rem 0 0 0 !important;
}


.img-zg-home {
  background-image: url(/img/home.png);
  background-size: cover;
  background-position: center;
  height: 48rem !important;
  width: 100% !important;
  z-index: 0;
}

.custom-bg {
  position: relative;
}

.custom-bg .overlay {
  position: relative;
  z-index: 1;
  margin-left: 8rem;
}

.custom-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  background: linear-gradient(to right, rgba(0, 0, 0, .6) 40%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

/* ---------------------------- */
/* SECTION ABOUT US */
/* ---------------------------- */
/* #AboutUs {
  padding-top: 90px !important;
  height: 100vh;
  width: 100vw;
  top: 90px !important;
} */

.img-aboutus {
  background-image: url(/img/company_ellipse.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100% !important;
  /* margin: auto; */
}

.card-aboutus {
  border-radius: 3rem;
  background: var(--purple-normal);
}

.img-certification-content {
  background: white;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-certification {
  height: 6rem;
  width: 6rem;
}

/* ---------------------------- */
/* SECTION LOGISTICS */
/* ---------------------------- */
#Logistics {
  padding: 50px 0px !important;
}

.tittle-section {
  font-size: 3rem;
  font-weight: bold;
}

/* .tittle-cart {
  font-size: 2rem;
  font-weight: bold;
} */

.carrusel-zg {
  height: 100%;
}

.carrusel-zg-content {
  display: flex;
  /* transition: transform 0.1s ease-in-out; */
  /* Transición suave de opacidad */
}

.carrusel-item img {
  width: 60rem !important;
  height: 30rem !important;
  object-fit: cover;
}

/* ---------------------------- */
/* SECTION PRODUCTS */
/* ---------------------------- */
#Products-section {
  padding: 50px 0px !important;
}

.card-product {
  padding: 8px;
  border: 2px solid var(--gray-normal);
  border-radius: 20px;
}

.card-product:hover {
  box-shadow: 1px 2px 14px var(--gray-normal);
  transform: scale(1.05)
}

.tittle-product-card {
  font-size: 1rem;
}

.card-product p {
  font-size: .8rem;
}

.btn-card-product {
  background: var(--blue-dark);
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  border: 2px solid var(--blue-dark);
}

.btn-card-product:hover {
  background: white;
  color: var(--blue-dark);
  font-weight: bold;
}

.card-description {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100% !important;
  /* height: 40px;/ */
}

/* ---------------------------- */
/* SECTION SERVICES */
/* ---------------------------- */
#Services {
  padding: 50px 0px !important;
}

.circle-service {
  border-radius: 50%;
  position: relative;
  height: 220px;
  width: 220px;
  border-style: none;
  z-index: 0;
}

.circle-service::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  box-shadow: 220px 220px rgba(0, 0, 0, 0.3) inset;
}

.circle-service:hover {
  transition: all .2s;
  transform: scale(1.1);
}

.img-circle-service {
  position: absolute;
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.text-circle-services {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  z-index: 5;
}

/* ---------------------------- */
/* SECTION CONTACTS */
/* ---------------------------- */
#Contacts {
  padding: 50px 0px !important;
}

.fs-contact {
  font-size: 2rem;
  font-weight: bold;
}

.text-contact {
  font-size: 1rem;
}

.btn-zg-pink {
  color: white;
  border-radius: 08px;
  padding: 6px 30px;
  background: var(--purple-normal);
  border-radius: 08px;
  padding: 6px 30px;
  border: 1px solid var(--purple-normal);
}

.btn-zg-pink:hover {
  color: white;
  transition: all .2s;
  transform: scale(1.1);
}

.iframe-gmaps {
  padding: 2rem 2rem;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}

#Contacts input,
#Contacts textarea {
  font-size: .8rem;
  border: 2px solid var(--blue-dark);
}


/* ---------------------------- */
/* ALL PRODUCTS */
/* ---------------------------- */
.all-products {
  padding: 5rem 0 0 0 !important;
}

.nav-product {
  background: white;
  height: 5rem;
  width: 100vw;
  /* position: sticky !important; */
  top: 0px;
  display: flex;
  align-items: center;
  box-shadow: 0 .5rem .6rem -.2rem var(--gray-normal);
  /* z-index: 50; */
}


.breadcumb-product ol li a {
  color: #444444 !important;
  font-weight: bold !important;
}

.img-product-card {
  width: 100% !important;
  height: 100% !important;
}

.btn-pagination-move {
  background: var(--purple-normal);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0px 14px;
}

.btn-pagination-disabled {
  background: var(--gray-normal);
  color: white;
}

.btn-pagination-page {
  background: white;
  border: 2px solid var(--purple-normal);
  color: var(--purple-normal);
  font-weight: bold;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0px 2px;
  border-radius: 5px;
}

.btn-pagination-active {
  background: var(--purple-normal);
  color: white;
}

.filter-grid {
  width: 100% !important;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 40% 20% 10% auto;
  grid-template-rows: 100%;
  grid-gap: 2rem;
  align-items: center;
}

.filter-grid .item-1 {
  grid-area: 1 / 1 / 1 / 1;
}

.filter-grid .item-2 {
  grid-area: 1 / 2 / 1 / 2;
}

.filter-grid .item-3 {
  grid-area: 1 / 3 / 1 / 4;
}

.filter-grid .item-4 {
  grid-area: 1 / 4 / 1 / 4;
}

.product-amount {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------- */
/* SHOPPING CART */
/* ---------------------------- */
.cart-table tbody {
  position: relative;
  /* height: 400px !important; */
  /* overflow-y: scroll; */
}

.cart-table thead tr th {
  font-size: .7rem;
  font-weight: bold;
}

.cart-table tr td img {
  height: 3rem;
  width: 3rem;
}

.cart-table tbody tr td {
  font-size: 1rem;
  font-weight: bold;
}

.cart-table tbody tr td p {
  font-size: .7rem;
  font-weight: bold;
  margin: 0;
}

.cart-table .btn-delete-item {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.cart-table .btn-delete-item:active {
  background: var(--gray-dark);
  color: white !important;
}

.btn-order {
  border-radius: .2rem;
  height: 2.1rem;
  width: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background: white;
}


/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */
.footer-menu li {
  list-style: none;
  margin: 10px;
  padding: 4px;
}

.footer-menu li a {
  /* background: white; */
  color: white
}

.footer-menu li:hover,
.footer-menu li a:hover {
  background: white;
  color: var(--blue-dark) !important;
}

.icon-footer {
  font-size: 30px;
}

.divider-footer {
  content: '';
  width: 1px !important;
  background: var(--gray-normal);
  padding: 0px !important;
  margin: 0px !important;
}

/* ---------------------------- */
/* BOTTON UP */
/* ---------------------------- */
.scroll-button {
  bottom: 2rem;
  right: 2.5rem;
  opacity: 0;
  transform: translateY(20px);
  /* Mueve el botón hacia abajo 20px */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  /* Transiciones para opacidad y transform */
}

.scroll-button.show {
  opacity: 1;
  transform: translateY(0);
  /* Mueve el botón hacia arriba (posición inicial) */
}

.button-zg-up {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  background: linear-gradient(120deg, var(--purple-normal), var(--blue-dark));
  ;
  /* margin: 1rem; */
  border-style: none;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 2px 2px 10px var(--blue-dark);
}

.button-zg-up:hover {
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
}

/* ---------------------------- */
/* BUTTON */
/* ---------------------------- */
.btn_blue_zg {
  background: var(--blue-dark);
  color: white;
  border: 3px solid var(--blue-dark);
}

.btn_blue_zg:focus,
.btn_blue_zg:hover {
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_blue_zg_v2 {
  background: var(--blue-dark);
  color: white;
  border: 3px solid white;
}

.btn_blue_zg_v2:focus,
.btn_blue_zg_v2:hover {
  color: var(--blue-dark);
  background: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_blue_zg_product {
  background: var(--blue-dark);
  color: white;
  border: 3px solid var(--blue-dark);
}

.btn_blue_zg_product:focus,
.btn_blue_zg_product:hover {
  color: white;
}

.btn-add-succes {
  background: #157347;
  border: 3px solid #157347;
}


.btn_pink_zg {
  background: var(--purple-normal);
  color: var(--purple-normal);
  border: 3px solid var(--purple-normal);
}

.btn_pink_zg:focus {
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
}

.btn_pink_zg:hover {
  color: white !important;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_gray_zg_inverse {
  background: var(--gray-normal);
  color: var(--gray-dark) !important;
  border: 3px solid var(--gray-normal);
}

.btn_gray_zg_inverse:focus,
.btn_gray_zg_inverse:hover {
  color: white;
  background: white;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_white_zg {
  background: white;
  color: var(--purple-normal) !important;
  border: 3px solid var(--purple-normal);
}

.btn_white_zg:focus,
.btn_white_zg:hover {
  color: var(--purple-normal);
  transition: .1s ease-in-out;
  transform: scale(1.1);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn-zg-md {
  color: white;
  border-radius: .6rem;
  padding: .3rem 1.5rem;
  text-decoration: none;
  font-size: .8rem !important;
}

.btn-zg-lg {
  color: white;
  border-radius: .6rem;
  padding: .5rem 2.5rem;
  text-decoration: none;
  font-size: 1rem !important;
}

.btn-zg-cart {
  color: white;
  border-radius: .2rem;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: .8rem !important;
}

.btn-zg-cart-remove {
  color: white;
  border-radius: .2rem;
  padding: 0 .5rem;
  text-decoration: none;
  font-size: .8rem !important;
}

.btn-zg-amount {
  background: var(--gray-normal);
  color: var(--gray-dark);
  width: 2rem;
  height: 2rem;
  border-radius: .2rem;
}

.btn-zg-amount:hover,
.btn-zg-amount:active {
  background: var(--gray-dark);
  color: var(--gray-normal);
}


/* ---------------------------- */
/* MODAL */
/* ---------------------------- */
.modal-tittle {
  font-size: 30px;
  font-weight: bold;
}

.modal-text {
  font-size: 14px;
}

.modal-body {
  position: relative;
  width: 100% !important;
  /* height: 100% !important; */
  /* background: var(--gray-dark); */
}

.modal-body-information {
  position: relative;
  height: 100%;
  /* height: 100rem; */
}

.div-info {
  position: absolute;
  /* height: ; */
  top: 0;
}

.div-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-modal-close {
  position: absolute;
  top: 0;
  right: 10px;
}

.modal-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.btn-modal-close button {
  border-radius: 50%;
  padding: 8px 10px;
  border-style: none;
  background: #444444;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal-close button:hover {
  transition: .1s ease-in-out;
  transform: scale(1.1);
}

.img-product-modal {
  height: 100% !important;
  width: 100vw !important;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

/* ---------------------------- */
/* LOGIN */
/* ---------------------------- */
.background-login {
  background: rgb(2, 0, 36);
  background: linear-gradient(22deg, rgba(2, 0, 36, 1) 0%, rgba(1, 11, 54, 1) 24%, rgba(0, 18, 64, 1) 38%, rgba(27, 42, 102, 1) 51%, rgba(53, 65, 137, 1) 64%, rgba(106, 111, 210, 1) 85%);
  height: 100vh;
  -webkit-box-shadow: 7px 4px 37px -7px white;
  -moz-box-shadow: 7px 4px 37px -7px white;
  box-shadow: 7px 4px 37px -7px white;
}

.container-login {
  background: white;
  border-radius: 1rem;
  /* height: 30vw; */
}

.btn-zg-login {
  background: var(--purple-normal);
  color: white;
  width: 100% !important;
  padding: .5rem;
  border-radius: .5rem;
  font-weight: bold;
  box-shadow: 0 .5rem 1rem -.2rem var(--purple-normal);
}

.btn-zg-login:active,
.btn-zg-login:hover {
  /* box-shadow: 0 .5rem .6rem -.2rem var(--gray-normal); */
  transition: .1s ease-in-out;
  transform: scale(1.05);
}

.title-login {
  color: var(--blue-dark);
  font-weight: bold;
  font-size: 3rem;
}

.font-form-login {
  color: var(--blue-dark);
  font-size: .8rem;
  font-weight: bold;
}

.font-create-account {
  color: var(--blue-dark);
  font-weight: bold;
  cursor: pointer;
}


/* MANTENCION */
.maintenance-div {
  height: 100vh;
  width: 100%;
}

.title-maintenance {
  font-size: 3rem;
  font-weight: lighter;
}

.img-maintenance {
  width: 40rem;
  height: 40rem;
}

/* ---------------------------- */
/* ADMIN */
/* ---------------------------- */

.sidebar-btn {
  border-radius: 10px;
  height: 3rem;
  width: 3rem;
  background: #6A6FD2;
}

.sidebar-title {
  font-size: 1.5rem;
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--gray-normal);
  object-fit: cover;
}

/* .navbar-user-name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-dark);
  margin-left: 10px;
} */

.page-admin {
  position: relative;
  z-index: 0;
  height: 100vh !important;
}

.div-admin {
  position: relative;
  height: calc(100vh - 65px) !important;
}

.div-admin .footer-admin {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: var(--blue-dark);
}

.sidebar-zg {
  height: 100%;
  background: #001243;
  color: white;
  position: absolute;
  transition: width .4s ease-in-out;
}

.sidebar-zg ul {
  width: 100%;
  height: calc(100vh - 500px);
  /* background: #ced4da; */
  padding: 10px;
  margin: 0;
}

.sidebar-zg ul li {
  background: #001243;
  padding: 12px 10px;
  margin: 10px;
  border-radius: 5px;
  color: white;
}

.sidebar-zg ul li:hover {
  background: white;
  color: var(--blue-dark);
}

.sidebar-zg ul li a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.sidebar-zg ul li p {
  padding: 0;
  margin: 0;
}

.sidebar-expand {
  width: 250px;
}

.sidebar-hidden {
  width: 100px;
}

.page-principal {
  position: relative;
  height: 100%;
  transition: left .4s ease-in-out;
  padding: 20px;
}

.page-expand {
  left: 250px;
  width: calc(100% - 250px);
  /* transition: width .4s ease-in-out; */
}

.page-hidden {
  left: 100px;
  width: calc(100% - 100px);
  /* transition: width .4s ease-in-out; */
}

/* USER SETTING */

.img-user-setting {
  height: 14rem;
  width: 14rem;
  border-radius: 20px;
  border: 4px solid var(--gray-normal);
  object-fit: cover;
}

.title-admin {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-form div {
  margin: 8px 0;
}

.user-form div label {
  font-size: .8rem;
}

.btn-setting-user {
  position: relative;
}

.btn-setting-user-modal {
  position: absolute;
  background: white;
  top: 70px;
  right: 10px;
  width: 12rem;
  height: 12rem;
  border-radius: 10px;
  border: 2px solid var(--gray-normal);
  z-index: 10;
}

.btn-setting-user-modal::after {
  position: absolute;
  content: '';
  bottom: 80px;
  right: 20px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid white;
  transform: rotate(270deg);
}

.btn-setting-user-modal ul {
  padding: 6px 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background: #001243; */
}

.btn-setting-user-modal ul li a {
  width: 100%;
  background: white;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #444444;
  padding: 8px 14px;
}

.btn-setting-user-modal ul li a:hover {
  background: var(--gray-normal);
  /* color: ; */
}

.btn-setting-user-modal ul li a p {
  margin: 0 8px;
}


/* ---------------------------- */
/* RESPONSIVE SM ≥576px */
/* ---------------------------- */
@media (max-width: 576px) {

  /* ALL BUTTON */
  .btn-zg-lg {
    font-size: .7rem !important;
  }

  .btn-zg-cart {
    text-decoration: none;
    font-size: .8rem !important;
  }

  /* ABOUT US */
  .card-aboutus {
    border-radius: 2rem;
  }

  .img-company {
    margin: 6px;
    width: 40%;
    height: 40%;
  }

  .fs-our-company {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  /* LOGISTICS */
  .carrusel-item img {
    width: 30rem !important;
    height: 18rem !important;
    object-fit: cover;
  }

  /* SERVICES */

  .circle-service {
    border-radius: 50%;
    position: relative;
    height: 150px;
    width: 150px;
    border-style: none;
    z-index: 0;
  }

  .circle-service::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 220px 220px rgba(0, 0, 0, 0.3) inset;
  }

  .img-circle-service {
    position: absolute;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
    top: 0px;
    left: 0px;
  }

  /* PRODUCT */
  .tittle-product-card {
    font-size: 18px;
  }

  /* CONTACT */
  .iframe-gmaps {
    margin: 4rem 0rem;
    border-radius: 2rem;
  }

  .custom-bg .overlay {
    position: relative;
    z-index: 1;
    margin: 1rem !important;
  }

  .title-maintenance {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .img-maintenance {
    width: 20rem;
    height: 20rem;
  }

  /* SIDEBAR */
  .sidebar-zg {
    width: 100px;
  }

  .sidebar-expand {
    width: 250px;
  }

  .sidebar-hidden {
    width: 0px;
  }

  .page-expand {
    left: 250px;
    width: calc(100% - 250px);
  }

  .page-hidden {
    left: 0px;
    width: 100%;
  }
}

/* RESPONSIVE MEDIUM ≥768px */
@media (max-width: 768px) {

  /* PRODUCT */
  .tittle-product-card {
    font-size: .8rem;
  }

  .text-button-product {
    font-size: .7rem;
  }

  .card-product p {
    font-size: .8rem;
  }

  /* LOGISTICS */
  /* LOGISTICS */
  .carrusel-item img {
    width: 40rem !important;
    height: 24rem !important;
    object-fit: cover;
  }

  /* .img-product-modal {
    width: 80% !important;
    height: 100% !important;
  } */

  .nav-product {
    background: white;
    height: 5.5rem;
    width: 100vw;
  }

  .filter-grid {
    width: 100% !important;
    height: 100% !important;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20px 55px;
    align-items: center;
    grid-gap: 5px;
    padding: 10px 20px;
  }

  .filter-grid .item-1 {
    grid-area: 1 / 1 / 1 / 4;
  }

  .filter-grid .item-2 {
    grid-area: 2 / 1 / 2 / 3;
  }

  .filter-grid .item-3 {
    grid-area: 2 / 3 / 2 / 5;
  }

  .filter-grid .item-4 {
    grid-area: 1 / 4 / 1 / 5;
  }

  .btn-order {
    width: 5rem;
    height: 2.2rem;
  }

  .custom-bg .overlay {
    position: relative;
    z-index: 1;
    margin: 5rem;
  }
}

/* RESPONSIVE LARGE ≥992px */
@media (max-width: 992px) {

  .text-contact {
    font-size: .8rem;
  }

  .modal-body-information {
    position: relative;
    height: 18rem !important;
  }

  .custom-bg .overlay {
    position: relative;
    z-index: 1;
    margin-left: 5rem;
  }
}

/* RESPONSIVE LARGE ≥1200px */
/* @media (max-width: 1200px) {

} */


/* * {
  border: 1px solid red;
} */