:root {
  /* MY GLOBAL CSS */
  --blue-dark: #001243;
  --purple-normal: #6A6FD2;
  --gray-normal: #E2E2E2;
  --gray-dark: #444444;
  --red-normal: #C20707;
  --yellow-normal: #D6C000;
}

/* html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-padding-top: 100px;
} */

/* * {
  border: 1px solid red;
} */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  /* border: 1px solid red; */
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-padding-top: 100px;
}

.navbar-zg {
  width: 100vw !important;
  padding: 0px !important;
  margin: 0px !important;
}

/* ---------------------------- */
/* ALL */
/* ---------------------------- */
a:link,
a.active,
a:hover {
  text-decoration: none !important;
  color: white;
}

a.active:hover {
  color: var(--blue-dark);
}

.text-zg-blue {
  color: var(--blue-dark);
}

.fs-lg {
  font-size: 24px;
}

.fs-our-company {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 8px;
  text-shadow: 0.1em 0.1em #555AAC
}

.text-section {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

.text-section-services {
  font-size: 16px;
}

.font-sm {
  font-size: .8rem;
}

/* ---------------------------- */
/* BACKGROUND */
/* ---------------------------- */
.bg-zg-blue {
  background: var(--blue-dark);
  color: white;
}

.bg-zg-pink {
  background: var(--purple-normal);
}

.bg-zg-gray {
  background: var(--gray-normal);
}

/* ---------------------------- */
/* NAVBAR */
/* ---------------------------- */
.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
}

.btn-zg-open-nav {
  color: white !important;
  border: 2px solid white !important;
  padding: 10px 16px !important;
}

.btn-zg-open-nav:hover {
  background: white;
  color: var(--blue-dark) !important;
}

.btn-zg-open-nav:active {
  background: white;
  color: var(--blue-dark) !important;
}

.btn-zg-nav {
  background: var(--blue-dark);
  color: white;
  border-radius: 4px;
}

.btn-zg-nav a {
  color: white;
}

.btn-zg-nav-active {
  color: white;
}

.btn-zg-nav:hover {
  background: white;
}

.icons-md {
  width: 100px;
  height: 80px;
}

/* SECTION */
/* ---------------------------- */
/* SECTION HOME*/
/* ---------------------------- */
#Home {
  padding: 5rem 0 0 0 !important;
  /* padding: 50px 0px !important; */

}


.img-zg-home {
  background-image: url(/img/home.png);
  background-size: cover;
  background-position: center;
  height: 48rem !important;
  width: 100vw !important;
  z-index: 0;
}

/* ---------------------------- */
/* SECTION ABOUT US */
/* ---------------------------- */
/* #AboutUs {
  padding-top: 90px !important;
  height: 100vh;
  width: 100vw;
  top: 90px !important;
} */

.img-aboutus {
  background-image: url(/img/company_ellipse.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100% !important;
  /* margin: auto; */
}

.card-aboutus {
  border-radius: 3rem;
  background: var(--purple-normal);
}

.img-certification-content {
  background: white;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-certification {
  height: 6rem;
  width: 6rem;
}

/* ---------------------------- */
/* SECTION LOGISTICS */
/* ---------------------------- */
#Logistics {
  padding: 50px 0px !important;
}

.tittle-section {
  font-size: 3rem;
  font-weight: bold;
}

.tittle-cart {
  font-size: 2rem;
  font-weight: bold;
}

.carrusel-zg {
  height: 100%;
}

.carrusel-zg-content {
  display: flex;
  /* transition: transform 0.1s ease-in-out; */
  /* Transición suave de opacidad */
}

.carrusel-item img {
  width: 60rem !important;
  height: 30rem !important;
  object-fit: cover;
}

/* ---------------------------- */
/* SECTION PRODUCTS */
/* ---------------------------- */
#Products-section {
  padding: 50px 0px !important;
}

.card-product {
  padding: 8px;
  border: 2px solid var(--gray-normal);
  border-radius: 20px;
}

.card-product:hover {
  box-shadow: 1px 2px 14px var(--gray-normal);
  transform: scale(1.05)
}

.tittle-product-card {
  font-size: 1rem;
}

.card-product p {
  font-size: .8rem;
}

.btn-card-product {
  background: var(--blue-dark);
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  border: 2px solid var(--blue-dark);
}

.btn-card-product:hover {
  background: white;
  color: var(--blue-dark);
  font-weight: bold;
}

.card-description {
  overflow-x: hidden;
  width: 100% !important;
}

/* ---------------------------- */
/* SECTION SERVICES */
/* ---------------------------- */
#Services {
  padding: 50px 0px !important;
}

.circle-service {
  border-radius: 50%;
  position: relative;
  height: 220px;
  width: 220px;
  border-style: none;
  z-index: 0;
}

.circle-service::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  box-shadow: 220px 220px rgba(0, 0, 0, 0.3) inset;
}

.circle-service:hover {
  transition: all .2s;
  transform: scale(1.1);
}

.img-circle-service {
  position: absolute;
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.text-circle-services {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  z-index: 5;
}

/* ---------------------------- */
/* SECTION CONTACTS */
/* ---------------------------- */
#Contacts {
  padding: 50px 0px !important;
}

.fs-contact {
  font-size: 2rem;
  font-weight: bold;
}

.text-contact {
  font-size: 1rem;
}

.btn-zg-pink {
  color: white;
  border-radius: 08px;
  padding: 6px 30px;
  background: var(--purple-normal);
  border-radius: 08px;
  padding: 6px 30px;
  border: 1px solid var(--purple-normal);
}

.btn-zg-pink:hover {
  color: white;
  transition: all .2s;
  transform: scale(1.1);
}

.iframe-gmaps {
  padding: 2rem 2rem;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}

/* ---------------------------- */
/* ALL PRODUCTS */
/* ---------------------------- */
.all-products {
  padding: 5rem 0 0 0 !important;
}

.nav-product {
  background: white;
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid var(--gray-dark); */
  box-shadow: 0 .5rem .6rem -.2rem var(--gray-normal);
}

.breadcumb-product ol li a {
  color: #444444 !important;
  font-weight: bold !important;
}

/* ---------------------------- */
/* SHOPPING CART */
/* ---------------------------- */
/* .shopping-cart {
  padding: 5rem 0 0 0 !important;
}

.shopping-div {
  border-radius: 1rem;
  border: 1px solid var(--gray-dark);
} */

.card-order {
  height: 70vh !important;
  width: 100% !important;
  border: 2px solid var(--gray-normal);
  border-radius: 1rem;
}

/* .cart-table tr td {
  height: 100% !important;
} */

.cart-table tr td img {
  height: 5rem;
  width: 5rem;
}

.cart-table tr td h5 {
  font-size: .8rem;
  font-weight: bold;
}

.cart-table tr td .description {
  font-size: .7rem;
}

.cart-table tr td .amount {
  font-size: 1rem;
  font-weight: bold;
}

.cart-divider {
  content: '';
  width: 2px !important;
  background: var(--gray-normal);
  padding: 0px !important;
  margin: 0px !important;
}

.btn-order {
  border-radius: 5px;
  padding: .4rem 2rem;
  font-weight: bold;
}

.bg-zg-red {
  background: var(--red-normal);
  border: 2px solid var(--red-normal);
  color: white;
}

.bg-zg-white {
  background: white;
  border: 2px solid var(--gray-normal);
}

.amount-cart-red {
  background: var(--red-normal);
  border-radius: 50%;
  padding: 1px 8px;
  color: white;
}

.amount-cart-white {
  background: white;
  border-radius: 50%;
  padding: 1px 8px;
  color: var(--red-normal);
}

.product-amount {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */
.footer-menu li {
  list-style: none;
  margin: 10px;
  padding: 4px;
}

.footer-menu li:hover {
  background: white;
  color: var(--blue-dark);
}

.icon-footer {
  font-size: 30px;
}

.divider-footer {
  content: '';
  width: 1px !important;
  background: var(--gray-normal);
  padding: 0px !important;
  margin: 0px !important;
}

/* ---------------------------- */
/* BOTTON UP */
/* ---------------------------- */
.scroll-button {
  bottom: 2rem;
  right: 2.5rem;
  opacity: 0;
  transform: translateY(20px);
  /* Mueve el botón hacia abajo 20px */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  /* Transiciones para opacidad y transform */
}

.scroll-button.show {
  opacity: 1;
  transform: translateY(0);
  /* Mueve el botón hacia arriba (posición inicial) */
}

.button-zg-up {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  background: linear-gradient(120deg, var(--purple-normal), var(--blue-dark));
  ;
  /* margin: 1rem; */
  border-style: none;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 2px 2px 10px var(--blue-dark);
}

.button-zg-up:hover {
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
}

/* ---------------------------- */
/* BUTTON */
/* ---------------------------- */
.btn_blue_zg {
  background: var(--blue-dark);
  color: white;
  border: 3px solid var(--blue-dark);
}

.btn_blue_zg:focus,
.btn_blue_zg:hover {
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_blue_zg_v2 {
  background: var(--blue-dark);
  color: white;
  border: 3px solid white;
}

.btn_blue_zg_v2:focus,
.btn_blue_zg_v2:hover {
  color: var(--blue-dark);
  background: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_blue_zg_product {
  background: var(--blue-dark);
  color: white;
  border: 3px solid var(--blue-dark);
}

.btn_blue_zg_product:focus,
.btn_blue_zg_product:hover {
  color: white;
}


.btn_pink_zg {
  background: var(--purple-normal);
  color: var(--purple-normal);
  border: 3px solid var(--purple-normal);
}

.btn_pink_zg:focus {
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.1);
}

.btn_pink_zg:hover {
  color: white !important;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_pink_zg_inverse {
  background: var(--gray-normal);
  color: var(--gray-dark) !important;
  font-weight: bold;
  border: 3px solid var(--gray-normal);
}

.btn_pink_zg_inverse:focus,
.btn_pink_zg_inverse:hover {
  color: white;
  background: white;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn_white_zg {
  background: white;
  color: var(--purple-normal) !important;
  border: 3px solid var(--purple-normal);
}

.btn_white_zg:focus,
.btn_white_zg:hover {
  color: var(--purple-normal);
  transition: .1s ease-in-out;
  transform: scale(1.1);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); */
}

.btn-zg-md {
  color: white;
  border-radius: .6rem;
  padding: .3rem 1.5rem;
  text-decoration: none;
  font-size: .8rem !important;
}

.btn-zg-lg {
  color: white;
  border-radius: .6rem;
  padding: .7rem 2.5rem;
  text-decoration: none;
  font-size: 1rem !important;
}

.btn-zg-cart {
  color: white;
  border-radius: .6rem;
  padding: .7rem 2.5rem;
  text-decoration: none;
  font-size: 1rem !important;
}

.btn-zg-amount {
  background: var(--gray-normal);
  color: var(--gray-dark);
  width: 2rem;
  height: 2rem;
  border-radius: .2rem;
}

.btn-zg-amount:hover,
.btn-zg-amount:active {
  background: var(--gray-dark);
  color: var(--gray-normal);
}


/* ---------------------------- */
/* MODAL */
/* ---------------------------- */
.modal-tittle {
  font-size: 30px;
  font-weight: bold;
}

.modal-text {
  font-size: 14px;
}

.modal-body {
  position: relative;
  width: 100% !important;
}

.modal-body-information {
  position: relative;
  height: 100% !important;
}

.div-info {
  position: absolute;
  top: 0;
}

.div-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-modal-close {
  position: absolute;
  top: 0;
  right: 10px;
}

.modal-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.btn-modal-close button {
  border-radius: 50%;
  padding: 8px 10px;
  border-style: none;
  background: #444444;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal-close button:hover {
  transition: .1s ease-in-out;
  transform: scale(1.1);
}

.img-modal-product {
  height: 100% !important;
  width: 100vw !important;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

/* ---------------------------- */
/* LOGIN */
/* ---------------------------- */
.background-login {
  background: rgb(2, 0, 36);
  background: linear-gradient(22deg, rgba(2, 0, 36, 1) 0%, rgba(1, 11, 54, 1) 24%, rgba(0, 18, 64, 1) 38%, rgba(27, 42, 102, 1) 51%, rgba(53, 65, 137, 1) 64%, rgba(106, 111, 210, 1) 85%);
  height: 100vh;
  -webkit-box-shadow: 7px 4px 37px -7px white;
  -moz-box-shadow: 7px 4px 37px -7px white;
  box-shadow: 7px 4px 37px -7px white;
}

.container-login {
  background: white;
  border-radius: 1rem;
  /* height: 30vw; */
}

.btn-zg-login {
  background: var(--purple-normal);
  color: white;
  width: 100% !important;
  padding: .5rem;
  border-radius: .5rem;
  font-weight: bold;
  box-shadow: 0 .5rem 1rem -.2rem var(--purple-normal);
}

.btn-zg-login:active,
.btn-zg-login:hover {
  /* box-shadow: 0 .5rem .6rem -.2rem var(--gray-normal); */
  transition: .1s ease-in-out;
  transform: scale(1.05);
}

.title-login {
  color: var(--blue-dark);
  font-weight: bold;
  font-size: 3rem;
}

.font-form-login {
  color: var(--blue-dark);
  font-size: .8rem;
  font-weight: bold;
}

.font-create-account {
  color: var(--blue-dark);
  font-weight: bold;
  cursor: pointer;
}

/* ---------------------------- */
/* RESPONSIVE SM ≥576px */
/* ---------------------------- */
@media (max-width: 576px) {

  /* ALL BUTTON */
  .btn-zg-lg {
    /* color: white; */
    /* border-radius: .6rem;
    padding: .7rem 1rem;
    text-decoration: none; */
    font-size: .7rem !important;
  }

  .btn-zg-cart {
    /* color: white; */
    border-radius: .6rem;
    padding: .7rem 1rem;
    text-decoration: none;
    font-size: .7rem !important;
  }

  /* ABOUT US */
  .card-aboutus {
    border-radius: 2rem;
  }

  .img-company {
    margin: 6px;
    width: 40%;
    height: 40%;
  }

  .fs-our-company {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  /* LOGISTICS */
  .carrusel-item img {
    width: 30rem !important;
    height: 18rem !important;
    object-fit: cover;
  }

  /* SERVICES */

  .circle-service {
    border-radius: 50%;
    position: relative;
    height: 150px;
    width: 150px;
    border-style: none;
    z-index: 0;
  }

  .circle-service::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 220px 220px rgba(0, 0, 0, 0.3) inset;
  }

  .img-circle-service {
    position: absolute;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
    top: 0px;
    left: 0px;
  }

  /* PRODUCT */
  .tittle-product-card {
    font-size: 18px;
  }

  /* CONTACT */
  .iframe-gmaps {
    margin: 4rem 0rem;
    border-radius: 2rem;
  }
}

/* RESPONSIVE MEDIUM ≥768px */
@media (max-width: 768px) {

  /* PRODUCT */
  .tittle-product-card {
    font-size: .8rem;
  }

  .text-button-product {
    font-size: .7rem;
  }

  .card-product p {
    font-size: .8rem;
  }

  /* LOGISTICS */
  /* LOGISTICS */
  .carrusel-item img {
    width: 40rem !important;
    height: 24rem !important;
    object-fit: cover;
  }
}

/* RESPONSIVE LARGE ≥992px */
@media (max-width: 992px) {

  .text-contact {
    font-size: .8rem;
  }
}

/* * {
  border: 1px solid red;
} */